{% extends 'base.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block body %}
    <h1>Edit News</h1>

    {{ include('news/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('news_index') }}">back to list</a>

    {{ include('news/_delete_form.html.twig') }}
{% endblock %}
