<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "include/navbar.html.twig" %}
        {# {{dump(app.flashes)}} #}
        <div class="container my-3">
            {% for label,messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endfor %}
        
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="/js/jquery-3.5.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
