<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "include/navbar.html.twig" %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="/js/jquery-3.2.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
