{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 class="my-3">Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('user_index') }}">back to list</a>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/select2.css">
{% endblock %}

{% block javascripts %}
    <script src="/js/select2.js"></script>
    <script src="/js/select2fr.js"></script>

    <script>
        $(document).ready(function () {
            $('select').select2({
                language: "fr"
            });
        })
    </script>

{% endblock %}
